<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File</key>
	<string>kernelcache.release.s5l8900x</string>
	<key>IV</key>
	<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
	<key>Key</key>
	<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
	<key>Patch</key>
	<string>kernelcache.release.patch</string>
	<key>NORPatch</key>
	<string>kernelcache.release.nor.patch</string>
	<key>Path</key>
	<string>/System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
	<key>KernelMD5</key>
	<array>
		<string>422e010a3a739f3faed935bdd34d5283</string>
		<string>e9a78c8aedf5752c046b0b1c82228408</string>
	</array>
	<key>URL</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7468.20100202.pbnrt/iPhone1,2_3.1.3_7E18_Restore.ipsw</string>
</dict>
</plist>
