<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>iBoot.m68ap.RELEASE.img3</string>
			<key>IV</key>
			<string>768745fc3d6984e6d6938b819426a3cb</string>
			<key>Key</key>
			<string>57baddbdf7d64453e26c1dec97027f9e</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<string>Firmware/all_flash/all_flash.m68ap.production</string>
	<key>KernelPath</key>
	<string>/System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
	<key>Manifest</key>
	<array>
		<string>LLB.m68ap.RELEASE.img3</string>
		<string>openiboot.img3</string>
		<string>iBoot.m68ap.RELEASE.img3</string>
		<string>DeviceTree.m68ap.img3</string>
		<string>applelogo.s5l8900x.img3</string>
		<string>recoverymode.s5l8900x.img3</string>
		<string>batterylow0.s5l8900x.img3</string>
		<string>batterylow1.s5l8900x.img3</string>
		<string>glyphcharging.s5l8900x.img3</string>
		<string>glyphplugin.s5l8900x.img3</string>
		<string>batterycharging0.s5l8900x.img3</string>
		<string>batterycharging1.s5l8900x.img3</string>
		<string>batteryfull.s5l8900x.img3</string>
	</array>
	<key>Name</key>
	<string>iPhone1,1_3.1.3_7E18</string>
	<key>URL</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
	<key>VerifyMD5</key>
	<array>
		<string>6c206a0d8518066b21e2aec403c9e95c</string>
		<string>da5348fe0ac42534538980536bf4f30b</string>
		<string>bba4fcd6a16e0b7ebd73bff743aeedd1</string>
	</array>
</dict>
</plist>
