<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone1,1</key>
	<dict>
		<key>IPSWURLs</key>
		<dict>
			<key>3.1.2</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7268.20091008.32pNe/iPhone1,1_3.1.2_7D11_Restore.ipsw</string>
			<key>3.1.3</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
		</dict>
		<key>KernelMD5</key>
		<dict>
			<key>3.1.2</key>
			<array>
				<string>0b0b76bb29c8ad395bc8e4b03a2c1205</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
				<string>89b8e3a9d374a63e371483b45083acc7</string>
			</array>
			<key>3.1.3</key>
			<array>
				<string>422e010a3a739f3faed935bdd34d5283</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
			</array>
		</dict>
		<key>KernelPatches</key>
		<dict>
			<key>3.1.2</key>
			<string>iPhone1,1_3.1.2_7D11.bundle</string>
			<key>3.1.3</key>
			<string>iPhone1,1_3.1.3_7E18.bundle</string>
		</dict>
	</dict>
	<key>iPhone1,2</key>
	<dict>
		<key>IPSWURLs</key>
		<dict>
			<key>3.1.2</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7265.20091008.Xsd32/iPhone1,2_3.1.2_7D11_Restore.ipsw</string>
			<key>3.1.3</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7468.20100202.pbnrt/iPhone1,2_3.1.3_7E18_Restore.ipsw</string>
			<key>4.0</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7436.20100621.58Yt4/iPhone1,2_4.0_8A293_Restore.ipsw</string>
			<key>4.0.1</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7436.20100621.58Yt4/iPhone1,2_4.0_8A293_Restore.ipsw</string>
			<key>4.0.2</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7436.20100621.58Yt4/iPhone1,2_4.0_8A293_Restore.ipsw</string>
			<key>4.1</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</string>
		</dict>
		<key>KernelMD5</key>
		<dict>
			<key>3.1.2</key>
			<array>
				<string>0b0b76bb29c8ad395bc8e4b03a2c1205</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
				<string>89b8e3a9d374a63e371483b45083acc7</string>
			</array>
			<key>3.1.3</key>
			<array>
				<string>422e010a3a739f3faed935bdd34d5283</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
			</array>
			<key>4.0</key>
			<array>
				<string>7d36f073526faba609cd8158709fa1bb</string>
				<string>3926d243e86dada21a874740763d1bf3</string>
			</array>
			<key>4.0.1</key>
			<array>
				<string>NO-PWNAGETOOL-JB</string>
				<string>3926d243e86dada21a874740763d1bf3</string>
			</array>
			<key>4.0.2</key>
			<array>
				<string>NO-PWNAGETOOL-JB</string>
				<string>3926d243e86dada21a874740763d1bf3</string>
			</array>
			<key>4.1</key>
			<array>
				<string>5177112aea7b3b1be12c34560b4929e7</string>
				<string>9c52c4f575a4b50fb482db057cff3ca6</string>
			</array>
		</dict>
		<key>KernelPatches</key>
		<dict>
			<key>3.1.2</key>
			<string>iPhone1,2_3.1.2_7D11.bundle</string>
			<key>3.1.3</key>
			<string>iPhone1,2_3.1.3_7E18.bundle</string>
			<key>4.0</key>
			<string>iPhone1,2_4.0_8A293.bundle</string>
			<key>4.0.1</key>
			<string>iPhone1,2_4.0_8A293.bundle</string>
			<key>4.0.2</key>
			<string>iPhone1,2_4.0_8A293.bundle</string>
			<key>4.1</key>
			<string>iPhone1,2_4.1_8B117.bundle</string>
		</dict>
	</dict>
	<key>iPod1,1</key>
	<dict>
		<key>IPSWURLs</key>
		<dict>
			<key>3.1.2</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7268.20091008.32pNe/iPhone1,1_3.1.2_7D11_Restore.ipsw</string>
			<key>3.1.3</key>
			<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
		</dict>
		<key>KernelMD5</key>
		<dict>
			<key>3.1.2</key>
			<array>
				<string>0b0b76bb29c8ad395bc8e4b03a2c1205</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
				<string>89b8e3a9d374a63e371483b45083acc7</string>
			</array>
			<key>3.1.3</key>
			<array>
				<string>422e010a3a739f3faed935bdd34d5283</string>
				<string>e9a78c8aedf5752c046b0b1c82228408</string>
			</array>
		</dict>
		<key>KernelPatches</key>
		<dict>
			<key>3.1.2</key>
			<string>iPhone1,1_3.1.2_7D11.bundle</string>
			<key>3.1.3</key>
			<string>iPhone1,1_3.1.3_7E18.bundle</string>
		</dict>
	</dict>
</dict>
</plist>
