<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File</key>
	<string>kernelcache.release.n82</string>
	<key>IV</key>
	<string>0182586ff40f56d59148020a5660a3c2</string>
	<key>Key</key>
	<string>3861ea3f4b0e926552e6407fb33047ff</string>
	<key>Patch</key>
	<string>kernelcache.release.patch</string>
	<key>NORPatch</key>
	<string>kernelcache.release.nor.patch</string>
	<key>Path</key>
	<string>/System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
	<key>KernelMD5</key>
	<array>
		<string>191f68163dbd1659c1fbe6b91df3b170</string>
		<string>f898204f49035f4cea39f374fc1563b0</string>
	</array>
	<key>URL</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7436.20100621.58Yt4/iPhone1,2_4.0_8A293_Restore.ipsw</string>
</dict>
</plist>
