<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File</key>
	<string>kernelcache.release.n82</string>
	<key>IV</key>
	<string>7238dcea75bf213eff209825a03add51</string>
	<key>Key</key>
	<string>0295d4ef87b9db687b44f54c8585d2b6</string>
	<key>Patch</key>
	<string>kernelcache.release.patch</string>
	<key>NORPatch</key>
	<string>kernelcache.release.nor.patch</string>
	<key>Path</key>
	<string>/System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
	<key>KernelMD5</key>
	<array>
		<string>cafd6e28572776167f8d740a5d6adb18</string>
		<string>508a661b2886fa67f12aa3ec99f77d52</string>
	</array>
	<key>URL</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</string>
</dict>
</plist>
