<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>iBoot.m68ap.RELEASE.img3</string>
			<key>IV</key>
			<string>db240b5ba6163898bbbc055be2276ea0</string>
			<key>Key</key>
			<string>a0ae133d5de080b4341d3eeb8aff63d4</string>
			<key>Patch</key>
			<string>iBoot.m68ap.RELEASE.patch</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>LLB.m68ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.m68ap.RELEASE.patch</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone1,1_3.1.2_7D11</string>
</dict>
</plist>
