<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>LLB.n45ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n45ap.RELEASE.patch</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>iBoot.n45ap.RELEASE.img3</string>
			<key>IV</key>
			<string>9a1e756768c29932460b2996315de82b</string>
			<key>Key</key>
			<string>6f0728e07f3591394a51c780476b52f5</string>
			<key>Patch</key>
			<string>iBoot.n45ap.RELEASE.patch</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPod1,1_3.1.3_7E18</string>
</dict>
</plist>
