<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File</key>
	<string>kernelcache.release.s5l8900x</string>
	<key>IV</key>
	<string>25b7f586d184c329d3d05953a6516a36</string>
	<key>Key</key>
	<string>dd03b5b52a53d3582b18a0052ef84038</string>
	<key>Patch</key>
	<string>kernelcache.release.patch</string>
	<key>NORPatch</key>
	<string>kernelcache.release.nor.patch</string>
	<key>Path</key>
	<string>/System/Library/Caches/com.apple.kernelcaches/kernelcache.s5l8900x</string>
	<key>URL</key>
	<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7268.20091008.32pNe/iPhone1,1_3.1.2_7D11_Restore.ipsw</string>
	<key>KernelMD5</key>
	<array>
		<string>43b74e68a652799426d90e8f2d338a73</string>
		<string>3ac527c7efdd89313c633eaeecea5b95</string>
		<string>89b8e3a9d374a63e371483b45083acc7</string>
	</array>
</dict>
</plist>
